.about
	.wrap
		.about__header
			h2.about__title ChronoBank is
		ul.about__facts-list
			li.about__fact
				.about__pic
					+svg('about__i', 'fact-start')
				p.about__fact_text
					strong.about__fact_text-main 2017
					| founded
			li.about__fact
				.about__pic
					+svg('about__i', 'fact-fund')
				p.about__fact_text
					strong.about__fact_text-main $20 Million
					| ICO funding
			li.about__fact
				.about__pic
					+svg('about__i', 'fact-employee')
				p.about__fact_text
					strong.about__fact_text-main 10+
					| Employees
			li.about__fact
				.about__pic
					+svg('about__i', 'fact-investors')
				p.about__fact_text
					strong.about__fact_text-main 2971
					| Investors
			li.about__fact
				.about__pic
					+svg('about__i', 'fact-exchanges')
				p.about__fact_text
					strong.about__fact_text-main 15
					| Partners
			li.about__fact
				.about__pic
					+svg('about__i', 'fact-partners')
				p.about__fact_text
					strong.about__fact_text-main 7
					| Exchanges
			li.about__fact
				.about__pic
					+svg('about__i', 'fact-time')
				p.about__fact_text
					strong.about__fact_text-main 1 and only
					| time-based cryptocurrency in the world
