.ceo
  .wrap
    .ceo__container
      img(src="../uploads/ceo.jpg" alt="Sergei Sergienko").ceo__photo
      img(src="../uploads/ceo_big.jpg" alt="Sergei Sergienko").ceo__photo_big
      .ceo__inner
        h3.ceo__name Sergei Sergienko
        .ceo__position CEO of Chronobank
        blockquote.ceo__message
          p So you’re trying to surf a site like myspace, hotmail or yahoo mail from work or school and its blocked by your school, work or government. Or maybe you want to go on a site without anyone knowing what your doing. The simplest way to do it is by using a web proxy. A proxy is another computer that is like a mask your computer puts on when it connects to the Internet. It’s also a private gateway to blocked sites because the site you are actually surfing is hidden behind the proxy, which is unblocked. For example, if you go to a web proxy in London and surf the Web, every other computer in the world thinks you are from London!