.press
  h3.press__title Press
  .press__container
    .wrap
      .press__block
        .press__pic
          img(src="../uploads/press/logo1.png" srcset="../uploads/press/@2x/logo1.png 2x" alt="The Cointelegraph").press__logo
          img(src="../uploads/press/big/logo1.png" srcset="../uploads/press/big/@2x/logo1.png 2x" alt="The Cointelegraph").press__logo_big
        .press__inner
          h4.press__inner_title The Cointelegraph
          blockquote.press__inner_descr “There are many things that are important to catalog design. Your images must be sharp and appealing. Your text and even the font you use for the text is important.”
          a.press__more(href="#")
            +svg('press__i', 'more')
            span Read the full article
      .press__block
        .press__pic
          img(src="../uploads/press/logo1.png" srcset="../uploads/press/@2x/logo1.png 2x" alt="The Cointelegraph").press__logo
          img(src="../uploads/press/big/logo1.png" srcset="../uploads/press/big/@2x/logo1.png 2x" alt="The Cointelegraph").press__logo_big
        .press__inner
          h4.press__inner_title Forbes
          blockquote.press__inner_descr “There are many things that are important to catalog design. Your images must be sharp and appealing. Your text and even the font you use for the text is important.”
          a.press__more(href="#")
            +svg('press__i', 'more')
            span Read the full article
      .press__block
        .press__pic
          img(src="../uploads/press/logo1.png" srcset="../uploads/press/@2x/logo1.png 2x" alt="The Cointelegraph").press__logo
          img(src="../uploads/press/big/logo1.png" srcset="../uploads/press/big/@2x/logo1.png 2x" alt="The Cointelegraph").press__logo_big
        .press__inner
          h4.press__inner_title Forklog
          blockquote.press__inner_descr “There are many things that are important to catalog design. Your images must be sharp and appealing. Your text and even the font you use for the text is important.”
          a.press__more(href="#")
            +svg('press__i', 'more')
            span Read the full article
    .press__buttons
      a.button(href="#") All articles about us
