.roadmap
    h3.roadmap__title Roadmap
    .roadmap__container.swiper-container
        .roadmap__content.swiper-wrapper
            a(href="#").roadmap__block.swiper-slide
                .roadmap__logo-box
                    +svg('roadmap__logo', 'road-january')
                h4.roadmap__name ChronoWallet desktop launch (testnet) +&nbsp;mobile beta
                p.roadmap__info Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
            a(href="#").roadmap__block.swiper-slide
                .roadmap__logo-box
                    +svg('roadmap__logo', 'road-february')
                h4.roadmap__name ChronoWallet desktop launch (testnet) +&nbsp;mobile beta
                p.roadmap__info Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
            a(href="#").roadmap__block.swiper-slide
                .roadmap__logo-box
                    +svg('roadmap__logo', 'road-march')
                h4.roadmap__name ChronoWallet desktop launch (testnet) +&nbsp;mobile beta
                p.roadmap__info Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
            a(href="#").roadmap__block.swiper-slide
                .roadmap__logo-box
                    +svg('roadmap__logo', 'road-april')
                h4.roadmap__name ChronoWallet desktop launch (testnet) +&nbsp;mobile beta
                p.roadmap__info Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
            a(href="#").roadmap__block.swiper-slide
                .roadmap__logo-box
                    +svg('roadmap__logo', 'road-may')
                h4.roadmap__name ChronoWallet desktop launch (testnet) +&nbsp;mobile beta
                p.roadmap__info Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
            a(href="#").roadmap__block.swiper-slide
                .roadmap__logo-box
                    +svg('roadmap__logo', 'road-june')
                h4.roadmap__name ChronoWallet desktop launch (testnet) +&nbsp;mobile beta
                p.roadmap__info Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
            a(href="#").roadmap__block.swiper-slide
                .roadmap__logo-box
                    +svg('roadmap__logo', 'road-july')
                h4.roadmap__name ChronoWallet desktop launch (testnet) +&nbsp;mobile beta
                p.roadmap__info Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
            a(href="#").roadmap__block.swiper-slide
                .roadmap__logo-box
                    +svg('roadmap__logo', 'road-august')
                h4.roadmap__name ChronoWallet desktop launch (testnet) +&nbsp;mobile beta
                p.roadmap__info Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
            .roadmap__block.today.swiper-slide
                .roadmap__point
                    +svg('roadmap__point_i', 'road-point')
                    span.roadmap__point_text We are here
            a(href="#").roadmap__block.swiper-slide
                .roadmap__logo-box
                    +svg('roadmap__logo', 'road-september')
                h4.roadmap__name ChronoWallet desktop launch (testnet) +&nbsp;mobile beta
                p.roadmap__info Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
            a(href="#").roadmap__block.swiper-slide
                .roadmap__logo-box
                    +svg('roadmap__logo', 'road-october')
                h4.roadmap__name ChronoWallet desktop launch (testnet) +&nbsp;mobile beta
                p.roadmap__info Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
            a(href="#").roadmap__block.swiper-slide
                .roadmap__logo-box
                    +svg('roadmap__logo', 'road-november')
                h4.roadmap__name ChronoWallet desktop launch (testnet) +&nbsp;mobile beta
                p.roadmap__info Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
            a(href="#").roadmap__block.swiper-slide
                .roadmap__logo-box
                    +svg('roadmap__logo', 'road-december')
                h4.roadmap__name ChronoWallet desktop launch (testnet) +&nbsp;mobile beta
                p.roadmap__info Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
        .swiper-pagination
            .swiper-pagination-wrapper

