@font-face
  font-family: 'Proxima Nova'
  font-weight: normal
  font-style: normal
  src: url('../fonts/proximanova/regular/Proxima_Nova_Regular.woff2') format('woff2'), url('../fonts/proximanova/regular/Proxima_Nova_Regular.woff') format('woff')

@font-face
  font-family: 'Proxima Nova'
  font-weight: bold
  font-style: normal
  src: url('../fonts/proximanova/bold/Proxima_Nova_Bold.woff2') format('woff2'), url('../fonts/proximanova/bold/Proxima_Nova_Bold.woff') format('woff')

@font-face
  font-family: 'Proxima Nova'
  font-weight: 300
  font-style: normal
  src: url('../fonts/proximanova/light/Proxima_Nova_Light.woff2') format('woff2'), url('../fonts/proximanova/light/Proxima_Nova_Light.woff') format('woff')

@font-face
  font-family: 'Proxima Nova'
  font-weight: normal
  font-style: italic
  src: url('../fonts/proximanova/italic/Proxima_Nova_Italic.woff2') format('woff2'), url('../fonts/proximanova/italic/Proxima_Nova_Italic.woff') format('woff')

@font-face
  font-family: 'Clear Sans'
  src: url('../fonts/clearsans/ClearSans-Thin.eot') /* IE9 Compat Modes */
  src: url('../fonts/clearsans/ClearSans-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/clearsans/ClearSans-Thin.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/clearsans/ClearSans-Thin.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-style: normal
  font-weight: 100

@font-face
  font-family: 'Clear Sans'
  src: url('../clearsans/ClearSans-Light.eot'); /* IE9 Compat Modes */
  src: url('../clearsans/ClearSans-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../clearsans/ClearSans-Light.woff') format('woff'), /* Pretty Modern Browsers */
       url('../clearsans/ClearSans-Light.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-style: normal
  font-weight: 300

@font-face
  font-family: 'Clear Sans'
  src: url('../clearsans/ClearSans-Regular.eot'); /* IE9 Compat Modes */
  src: url('../clearsans/ClearSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../clearsans/ClearSans-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../clearsans/ClearSans-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-style: normal
  font-weight: 400

@font-face
  font-family: 'Clear Sans'
  src: url('../clearsans/ClearSans-Medium.eot'); /* IE9 Compat Modes */
  src: url('../clearsans/ClearSans-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../clearsans/ClearSans-Medium.woff') format('woff'), /* Pretty Modern Browsers */
       url('../clearsans/ClearSans-Medium.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-style: normal
  font-weight: 500

@font-face
  font-family: 'Clear Sans'
  src: url('../clearsans/ClearSans-MediumItalic.eot'); /* IE9 Compat Modes */
  src: url('../clearsans/ClearSans-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../clearsans/ClearSans-MediumItalic.woff') format('woff'), /* Pretty Modern Browsers */
       url('../clearsans/ClearSans-MediumItalic.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-style: italic
  font-weight: 500

@font-face
  font-family: 'Clear Sans'
  src: url('../clearsans/ClearSans-Bold.eot'); /* IE9 Compat Modes */
  src: url('../clearsans/ClearSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../clearsans/ClearSans-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../clearsans/ClearSans-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-style: normal
  font-weight: 700

@font-face
  font-family: 'Clear Sans'
  src: url('../clearsans/ClearSans-BoldItalic.eot'); /* IE9 Compat Modes */
  src: url('../clearsans/ClearSans-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../clearsans/ClearSans-BoldItalic.woff') format('woff'), /* Pretty Modern Browsers */
       url('../clearsans/ClearSans-BoldItalic.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-style: italic
  font-weight: 700