@font-face
  font-family: 'Proxima Nova'
  font-weight: normal
  font-style: normal
  src: url('../fonts/proximanova/regular/Proxima_Nova_Regular.woff2') format('woff2'), url('../fonts/proximanova/regular/Proxima_Nova_Regular.woff') format('woff')

@font-face
  font-family: 'Proxima Nova'
  font-weight: bold
  font-style: normal
  src: url('../fonts/proximanova/bold/Proxima_Nova_Bold.woff2') format('woff2'), url('../fonts/proximanova/bold/Proxima_Nova_Bold.woff') format('woff')

@font-face
  font-family: 'Proxima Nova'
  font-weight: 300
  font-style: normal
  src: url('../fonts/proximanova/light/Proxima_Nova_Light.woff2') format('woff2'), url('../fonts/proximanova/light/Proxima_Nova_Light.woff') format('woff')

@font-face
  font-family: 'Proxima Nova'
  font-weight: normal
  font-style: italic
  src: url('../fonts/proximanova/italic/Proxima_Nova_Italic.woff2') format('woff2'), url('../fonts/proximanova/italic/Proxima_Nova_Italic.woff') format('woff')
