extends includes/body.pug

block body
	.page.js-wrap.main
		include includes/main/header
		include includes/main/about
		include includes/main/app
		include includes/main/roadmap
		include includes/main/ceo
		include includes/main/partners
		include includes/main/press
		include includes/main/news
		include includes/main/contacts
		include includes/footer.pug

