extends includes/body.pug

block body
  include includes/header.pug
  include includes/about.pug
  include includes/app.pug
  include includes/roadmap
  include includes/ceo.pug
  include includes/partners.pug
  include includes/press.pug
  include includes/news.pug
  include includes/contacts.pug
  include includes/footer.pug
  
