extends includes/body.pug

block body
	.page.js-wrap.team
		include includes/team/header
		include includes/team/slider
		include includes/team/about
		include includes/team/employees
		include includes/team/vacancies
		include includes/footer.pug

