// Animation duration
$slow: 1s
$default: .5s
$fast: .3s

$mobile_point: 670px

// MediaQuery
$desktop: 'min-width: 1000px'
$tablet: 'min-width: 640px'

// Colors
$black: #00005F
$white: #fff
$blue: #2962FF

// Sprites
// $i: url(../i/i.png) no-repeat

// Fonts
$main: 'Proxima Nova', Helvetica, Arial, sans-serif

$min: 560px
$max: 1500px
