.app

  &__i
    position: absolute
    left: 0
    top: 6px
    width: 24px
    height: 24px

    &-mobile
      display: block
      height: 48px
      width: 162px

    &-desktop
      display: block
      width: 160px
      height: 48px

    &-slack-big
      position: absolute
      z-index: 0
      opacity: 0.4

    &-telegram-big
      position: absolute
      z-index: 0
      opacity: 0.4

    &-small
      width: 15px
      height: 15px
      margin-right: 5px
      display: inline-block
      vertical-align: middle

  &__container
    padding-top: 33px

    &.mobile
      background-color: #f7f9ff
      margin: 0 -16px 86px
      padding-left: 16px
      padding-right: 16px

    &.laborx
      margin-bottom: 40px

  &__title
    position: relative
    padding-top: 72px
    font-size: 2.7rem
    line-height: 3.3rem
    font-weight: normal
    margin-bottom: 32px
    text-align: center
    font-weight: 300

    &-sec
      font-size: 1.6rem
      line-height: 1.8rem
      font-weight: normal
      margin-bottom: 16px

  &__content
    display: flex
    flex-direction: column

    &.reverse
      flex-direction: column-reverse

  &__list
    list-style: none

    li
      padding: 0 0 21px 40px
      position: relative
      font-size: 1.4rem
      line-height: 2.1rem

  &__logo
    width: 64px
    height: 64px
    border-radius: 15px
    display: block
    position: absolute
    left: 50%
    top: 0
    transform: translate(-50%, 0)

  &__aside
    margin: 0 -16px
    padding-bottom: 8px

    &-title
      font-size: 1.6rem
      line-height: 2rem
      color: $blue
      margin: 0 12px 32px
      text-align: center
      font-weight: 300
      position: relative
      z-index: 5

  &__pic
    display: block
    box-shadow: 0 16px 24px rgba(0,0,0,.24)
    margin-bottom: 50px

  &__phone
    margin: 0 auto
    width: 270px
    height: 550px
    display: block
    border-radius: 45px

  &__hidden
    display: none

  &__links
    margin-bottom: -24px

  &__link
    display: block
    margin: 26px auto 0

  &__join
    margin-bottom: 32px

    &_content
      background: no-repeat center, linear-gradient(to left, #644ebf, #262448)
      color: $white
      padding: 32px 16px
      border-radius: 2px
      box-shadow: 0 8px 16px rgba(0,0,0,.24)

      & > p
        font-size: 2.8rem
        line-height: 3.4rem
        margin-bottom: 40px


  &__info
    font-size: 1.4rem
    line-height: 2.4rem

    & > p
      margin-bottom: 24px

    & > b
      color: #FFAB00

@media ($tablet)

  .app

    &__container
      &.laborx
        margin-bottom: 130px

    &__list

      li
        padding-bottom: 30px
        font-size: 1.6rem
        line-height: 2.4rem
        padding-bottom: 24px

    &__title
      font-size: 4.8rem
      line-height: 5.8rem
      margin-bottom: 12px
      position: relative
      z-index: 40

      &-sec
        font-size: 2.4rem
        line-height: 2.8rem
        margin-bottom: 41px

    &__aside
      margin-left: -30px
      margin-right: -30px

      &-title
        font-size: 2rem
        line-height: 2.4rem

    &__info
      font-size: 1.6rem
      line-height: 2rem

    &__join

      &_content
        padding: 30px 50px

@media ($desktop)

  .app

    &__title
      font-size: 48px
      font-weight: 500
      padding-top: 76px
      left: 7px

      &-sec
        font-weight: bold
        line-height: 3.4rem
        margin-bottom: 23px

    &__logo
      margin-left: -7px

    &__descr
      font-size: 1.6rem
      line-height: 2.4rem
      text-align: left
      color: #66669f
      margin-bottom: 11px

    &__content
      flex-direction: row
      position: relative

    &__text
      width: 30%
      box-sizing: border-box
      flex: 1 0 auto

    &__pic
      box-shadow: 0 16px 24px rgba(0,0,0,.24)
      transform: rotate3d(0, 1, 0, -10deg) translate(-15px, 30px)
      transition: all $fast

    &__phone
      position: relative
      top: 77px
      left: -8px

    &__container

      .wrap
        position: relative

      .app__links
        position: absolute
        bottom: -16px
        left: 480px
        padding: 26px 17px 32px 24px

        & a:first-of-type
          margin-right: 25px

      .app__link
        margin-top: 11px

      &.desktop

        .app__content
          padding-bottom: 53px

        .app__text
          padding-top: 56px

        .app__aside
          padding-top: 68px

      &.mobile
        padding-top: 32px

        .app__aside
          margin-bottom: -25px

        .app__content
          justify-content: space-between

        .app__text
          padding-top: 33px
          padding-right: 110px
          width: 50%

        .app__links
          bottom: -131px
          background-color: white
          padding-bottom: 30px

        .app__link
          margin-top: 14px

      &.laborx
        padding-bottom: 20px
        margin-bottom: 0

        .app__title
          margin-bottom: 54px

          &-sec
            margin-bottom: 22px

        .app__content
          padding-top: 13px

        .app__pic
          top: -75px
          right: auto
          left: -50px

        .app__aside
          &-title
            margin-bottom: 50px

        .app__info

          p
            margin-bottom: 11px
            line-height: 2.4rem

    &__aside
      width: 50%
      box-sizing: border-box
      flex: 1 0 auto
      margin: 0
      transform-origin: left
      transform-style: preserve-3d
      perspective: 370px

      &-title
        position: relative
        z-index: 5
        width: 70%
        min-height: 100px
        margin-left: auto
        margin-right: auto

      &_revert
        transform-origin: right

        .app__pic
          transform: rotate3d(0, 1, 0, 10deg) translate(15px, 40px)

    &__pic
      right: -50px
      top: -40px
      position: relative
      height: 618px

    &__list

      li
        padding-left: 40px
        padding-bottom: 11px

        p
          display: inline-block
          padding-top: 5px
          color: #66669f

          strong
            font-weight: normal
            color: #00005f

    &__links
      background-color: #f7f9ff
      box-shadow: 0 16px 24px 0 rgba(118, 143, 255, 0.2)
      border-radius: 2px
      padding: 19px 24px
      text-align: left
      margin: 0

      &_title
        font-size: 1.8rem
        line-height: 2.4rem
        color: #00005f
        font-weight: bold

    &__link
      display: inline-block
      vertical-align: middle

      &.desktop
        border-radius: 2px
        box-shadow: 0 2px 2px 0 rgba(118, 143, 255, 0.24), 0 0 2px 0 rgba(118, 143, 255, 0.12)

    &__join
      margin-top: 226px
      margin-bottom: 63px

      &_content
        padding: 30px 96px
        display: flex
        align-items: center
        justify-content: space-between
        border-radius: 2px
        z-index: 0
        position: relative
        box-shadow: 0 16px 24px 0 rgba(100, 78, 191, 0.2)

        a
          span
            vertical-align: middle
            display: inline-block

        p
          width: 35%
          margin: 0
          font-size: 4.8rem
          line-height: 6.6rem
          font-weight: 300
          text-align: center
