.roadmap
  padding-top: 64px
  background-color: #f7f9ff

  //.swiper-pagination
  //  bottom: 24px
  //
  //.swiper-pagination-bullet
  //  width: 4px
  //  height: 4px
  //  border-radius: 50%
  //  border: 1px solid $white
  //  margin: 0 2px !important
  //  background-color: #8799ff
  //  opacity: 1
  //
  //.swiper-pagination-bullet-active
  //  border-color: $blue
  //  background-color: $blue

  &__container
    overflow: hidden
    position: relative

  &__descr
    font-size: 1.6rem
    line-height: 1.8rem
    padding: 24px 0 0

  //&__content
  //  display: flex
  //  align-items: stretch

  //&__block
  //  flex: 1 0 auto
  //  width: 85%
  //  background: #F7F9FF
  //  // margin-right: 16px
  //  transition: all $fast
  //  padding: 131px 16px 24px
  //  box-sizing: border-box
  //  position: relative
  //  color: $black
  //  border-radius: 2px
  //
  //  &:hover
  //    box-shadow: 0 8px 16px rgba(0, 0, 0, .24)

  &__logo
    display: block

  &__name
    font-size: 1.6rem
    line-height: 1.8rem
    margin-bottom: 14px
    font-weight: normal

  &__info
    font-size: 1.4rem
    line-height: 2.4rem


@media ($desktop)

  .roadmap
    padding-top: 91px
    padding-bottom: 200px

    .swiper-pagination
      bottom: -60px !important
      height: 8px
      background: white
      position: relative
      z-index: 0

      &::before
        content: ''
        position: absolute
        z-index: -1
        top: 0
        bottom: 0
        left: 0
        right: 50%
        background-color: #768fff

    .swiper-pagination-bullet
      width: 24px
      height: 24px
      background-color: #644ebf
      display: inline-flex
      justify-content: center
      align-items: center
      border-radius: 50%
      opacity: 1
      position: relative
      top: -8px

      &::before
        content: ''
        border-radius: 50%
        width: 8px
        height: 8px
        background: white

    &__title
      text-align: center
      font-size: 4.8rem
      font-weight: 500

    &__descr
      padding: 3px
      font-size: 2.4rem
      line-height: 3.4rem
      font-weight: 300
      text-align: center

    &__container
      margin-top: 150px
      overflow: visible
      width: auto

    //&__content
    //  transform: translate(0, 0) !important
    //  flex-wrap: wrap
    //  justify-content: space-between

    &__block
      text-align: center
      box-sizing: border-box
      padding: 124px 24px 50px
      border-radius: 2px
      background-color: white
      box-shadow: 0 16px 24px 0 rgba(118, 143, 255, 0.2)
      width: 256px
      position: relative

      &::after
        content: ''
        position: absolute
        bottom: -25px
        left: 50%
        margin-left: -5px
        border: 10px solid transparent
        border-top: 15px solid white
        display: block
        width: 0
        height: 0


      &.today
        width: auto
        padding: 0
        box-shadow: none
        background: transparent
        border: none

        &::after
          display: none

        .roadmap__point
          padding: 15px 24px
          border-radius: 2px
          background-color: #ffffff
          box-shadow: 0 16px 24px 0 rgba(118, 143, 255, 0.2)
          position: relative
          top: 470px

          &_i
            height: 32px
            width: 9px
            display: inline-block
            vertical-align: middle

          &_text
            margin-left: 16px
            display: inline-block
            vertical-align: middle
            font-size: 2.0rem
            font-weight: 500
            text-align: left
            color: #0039cb
    &__logo
      width: 100%
      height: 100%

      &-box
        position: absolute
        left: 50%
        margin-left: -92px
        top: -92px
        display: block
        border-radius: 50%
        box-sizing: border-box
        padding: 38px
        background-color: #f7f9ff
        box-shadow: 0 8px 16px 0 rgba(100, 78, 191, 0.2)
        width: 184px
        height: 184px

    &__name
      font-size: 1.8rem
      font-weight: bold
      color: #00005f

    &__descr
      font-size: 2.4rem
      line-height: 3.4rem

    &__info
      font-size: 1.6rem
      line-height: 1.5
      color: #66669f