.about
  padding: 64px 0 0
  background-color: #f7f9ff

  &__i
    display: block
    width: 72px
    height: 72px

@media ($desktop)

  .about
    padding-top: 67px

    &__title
      font-size: 4.8rem
      text-align: center
      font-weight: 500
      margin-bottom: 18px

    &__facts-list
      list-style: none
      text-align: center

    &__pic
      line-height: normal
      display: inline-flex
      justify-content: center
      align-items: center
      padding: 12px
      box-sizing: border-box
      border-radius: 50%
      background-color: #f7f9ff
      box-shadow: 0 4px 8px 0 rgba(100, 78, 191, 0.2)
      margin-bottom: 24px

    &__fact
      width: 200px
      display: inline-block
      vertical-align: top
      margin: 0 44px

      &:nth-child(4n-4)
        margin-left: 0

      &:nth-child(4n-1)
        margin-right: 0

      &:nth-child(3)
        margin-right: 56px

      &:nth-child(1)
        margin-left: 56px

      &_text
        margin-bottom: 16px
        font-size: 1.6rem
        color: #66669f

        &-main
          font-weight: bold
          font-size: 1.8rem
          display: block
          color: #00005f
