// Grid

.page
  position: relative
  min-height: 100%
  min-width: 320px
  overflow: hidden

.wrap
  max-width: $max
  margin: 0 auto
  box-sizing: border-box
  padding: 0 16px

.title
  font-size: 2.7rem
  line-height: 3.3rem
  font-weight: 300

@media ($tablet)

  .wrap
    padding: 0 30px

@media ($desktop)

  .wrap
    padding: 0 50px

  .title
    font-size: 4.8rem
    line-height: 5.8rem
