.ceo__container
  .wrap
    .ceo
      img(src="../uploads/ceo.jpg" alt="Sergei Sergienko").ceo__photo
      img(src="../uploads/ceo_big.jpg" alt="Sergei Sergienko").ceo__photo_big
      .ceo__inner
        h3.ceo__name Sergei Sergienko
        .ceo__position CEO of Chronobank
        blockquote.ceo__message
          p Let me speak from my heart! #[br] Our #[a(href="#") team] is wonderful and strong!
          p So you’re trying to surf a site like myspace, hotmail or yahoo mail from work or school and its blocked by your school, work or government. Or maybe you want to go on a site without anyone knowing what your doing. The simplest way to do it is by using a web proxy.
