meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
title Chronobank

//- CSS
link(rel="stylesheet", href="../css/common.css")
link(rel="shortcut icon", type="image/png",  href="../i/favicon.png")

//- JS
script(src="../js/jquery.min.js" defer)
script(src="../js/TimelineLite.min.js" defer)
script(src="../js/ScrollToPlugin.min.js" defer)
script(src="../js/TweenLite.min.js" defer)
script(src="../js/jquery.gsap.min.js" defer)
script(src="../js/common.js" defer)
script(src="../js/jquery.validate.min.js" defer)
script(src="../js/jquery.marquee.min.js" defer)
script(src="../js/swiper.jquery.js" defer)
