header.header.js-first-slide
  .wrap
    .footer__logo-block
      .footer__logo #[span.footer__logo-color Chrono]bank.io
      .footer__beta beta 10.0
    a.header__news(href="#")
      .header__label new
      b Jun 4 
      | | How I rediscovered my love for JavaScript after throwing 90% of it in the trash.
    .nav
      .nav__i
      ul.nav__list
        li.nav__item
          a(href="#") Products
        li.nav__item
          a(href="#") Team
        li.nav__item
          a(href="#") FAQ
        li.nav__item
          a(href="#") Blog
        li.nav__item
          a(href="#") Contacts
        li.nav__item
          a(href="#") Login
        li.nav__item
          a(href="#") Eng
    .header__block
      h1.header__title Blockchain revolution
      h2.header__descr for the recruitment industry
      span.header__video
        +svg('header__i', 'video')
        | Watch the Introduction
    .header__widjet
