.news__container
  .wrap
    h3.title Last news
    .news
      .news__preloader
        img(src="../i/preloader.gif")
      //- - for (var i = 0; i < 4; i++)
      //-   a.news__block(href="#")
      //-     img.news__pic(src="../uploads/news/pic1.jpg")
      //-     h4.news__title ChronoBank Development Part 2: The Next Six Months
      //-     p.news__descr In the first part of this article, we reviewed what ChronoBank had achieved since its inception...
