.roadmap
    h3.roadmap__title Roadmap
    .roadmap__container.swiper-container
        .roadmap__content.swiper-wrapper
            a(href="#").roadmap__block.swiper-slide
                .roadmap__logo-box
                    img.roadmap__logo(src="../uploads/partners/logo1.png" srcset="../uploads/partners/@2x/logo1.png 2x" alt="ICOpromo")
                h4.roadmap__name ChronoWallet desktop launch (testnet) +&nbsp;mobile beta
                p.roadmap__info Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
            a(href="#").roadmap__block.swiper-slide
                .roadmap__logo-box
                    img.roadmap__logo(src="../uploads/partners/logo1.png" srcset="../uploads/partners/@2x/logo1.png 2x" alt="ICOpromo")
                h4.roadmap__name ChronoWallet desktop launch (testnet) +&nbsp;mobile beta
                p.roadmap__info Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
            a(href="#").roadmap__block.swiper-slide
                .roadmap__logo-box
                    img.roadmap__logo(src="../uploads/partners/logo1.png" srcset="../uploads/partners/@2x/logo1.png 2x" alt="ICOpromo")
                h4.roadmap__name ChronoWallet desktop launch (testnet) +&nbsp;mobile beta
                p.roadmap__info Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
            a(href="#").roadmap__block.swiper-slide
                .roadmap__logo-box
                    img.roadmap__logo(src="../uploads/partners/logo1.png" srcset="../uploads/partners/@2x/logo1.png 2x" alt="ICOpromo")
                h4.roadmap__name ChronoWallet desktop launch (testnet) +&nbsp;mobile beta
                p.roadmap__info Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
        .swiper-pagination

