.app

  &__i
    position: absolute
    left: 0
    top: 5px
    width: 24px
    height: 24px

  &__container
    padding-top: 32px

    &_dark
      background: #F7F9FF
      margin: 0 -16px 86px
      padding-left: 16px
      padding-right: 16px

    &_laborx
      margin-bottom: 40px

  &__title
    position: relative
    padding-top: 72px
    font-size: 2.7rem
    line-height: 3.3rem
    font-weight: normal
    margin-bottom: 32px
    text-align: center
    font-weight: 300

  &__title-sec
    font-size: 1.6rem
    line-height: 1.8rem
    font-weight: normal
    margin-bottom: 16px

  &__list
    list-style: none

    li
      padding: 0 0 21px 40px
      position: relative
      font-size: 1.4rem
      line-height: 2.1rem

  &__logo
    width: 64px
    height: 64px
    box-shadow: 0 8px 16px rgba(0,0,0,.24)
    border-radius: 15px
    display: block
    position: absolute
    left: 50%
    top: 0
    transform: translate(-50%, 0)

  &__wrap
    display: flex
    flex-direction: column

    &_reverse
      flex-direction: column-reverse

  &__aside
    margin: 0 -16px
    padding-bottom: 8px

  &__pic
    width: 100%

  &__phone
    margin: 0 auto
    width: 270px
    height: 550px
    display: block
    border-radius: 45px
    box-shadow: 0 8px 16px rgba(0,0,0,.24)

  &__hidden
    display: none

  &__aside-title
    font-size: 1.6rem
    line-height: 2rem
    color: $blue
    margin: 0 12px 32px
    text-align: center
    font-weight: 300

  &__links
    margin-bottom: -24px

  &__link
    display: block
    margin: 26px auto 0
    width: 166px
    height: 54px

    img
      display: block
      width: 166px
      height: 54px

  &__join
    background: url(../i/join.png) no-repeat
    background-size: cover
    color: $white
    padding: 32px 16px
    border-radius: 2px
    box-shadow: 0 8px 16px rgba(0,0,0,.24)
    margin-bottom: 32px

    p
      font-size: 2.8rem
      line-height: 3.4rem
      margin-bottom: 40px

    .button
      width: 160px

  &__info
    font-size: 1.4rem
    line-height: 2.4rem

    p
      margin-bottom: 24px

    b
      color: #FFAB00

@media ($tablet)

  .app

    &__container_laborx
      margin-bottom: 130px

      &_dark
        margin-left: -30px
        margin-right: -30px
        padding-left: 30px
        padding-right: 30px

    &__title-sec
      font-size: 2.4rem
      line-height: 2.8rem
      margin-bottom: 41px

    &__list

      li
        padding-bottom: 30px
        font-size: 1.6rem
        line-height: 2.4rem
        padding-bottom: 24px

    &__title
      font-size: 4.8rem
      line-height: 5.8rem
      margin-bottom: 12px
      position: relative
      z-index: 40

    &__aside
      margin-left: -30px
      margin-right: -30px

    &__aside-title
      font-size: 2rem
      line-height: 2.4rem

    &__info
      font-size: 1.6rem
      line-height: 2rem

    &__join
      background-image: url(../i/join_big.png)
      padding: 30px 50px

@media ($desktop)

  .app

    &__info

      p
        margin-bottom: 18px

    &__container
      padding-top: 47px

      &_dark
        margin-left: -50px
        margin-right: -50px
        padding-left: 50px
        padding-right: 50px
        padding-bottom: 40px

      &_laborx
        padding-bottom: 20px

        .app__title
          margin-bottom: 54px

        .app__content
          padding-top: 75px

        .app__pic
          top: -75px

    &__wrap
      flex-direction: row

    &__content
      width: 40%
      box-sizing: border-box
      flex: 1 0 auto
      padding-top: 55px

      &_padding
        padding-top: 5px

    &__aside
      width: 60%
      box-sizing: border-box
      flex: 1 0 auto
      margin: 0

      &-title
        position: relative
        z-index: 5
        width: 70%
        margin-left: auto
        margin-right: auto

    &__pic
      right: -50px
      top: -40px
      position: relative

    &__hidden
      display: block

    &__list
      width: 90%

      li
        padding-left: 50px

    &__links
      display: flex
      margin-bottom: 0
      padding-top: 72px

    &__link
      margin: 0 20px 0 0

    &__container_laborx
      margin-bottom: 0
      position: relative
      z-index: 30

      .app__pic
        right: auto
        left: -50px

      .app__aside-title
        margin-bottom: 50px

    &__join
      padding: 50px 96px
      display: flex
      align-items: center
      justify-content: space-between

      p
        margin: 0
        font-size: 3.6rem
        line-height: 4.4rem
